/roots-presenter/node_modules
**/.env
**/.env.local
MNA/datasets/developmental/.DS_Store
MNA/.DS_Store
MNA/datasets/.DS_Store
MNA/datasets/stage3/.DS_Store
MNA/SOURCES/.DS_Store
cgv-data/.DS_Store
ble/.DS_Store
cgv-data/bibles/.DS_Store
ble/.DS_Store
cgv-data/media/.DS_Store
cgv-data/media/songs/.DS_Store
cgv-data/media/songs/coros/.DS_Store

# Generated BLE static site (built in CI)
Biblia-BLE/site/
.DS_Store
cgv-presenter/.DS_Store
cgv-presenter/.DS_Store
.DS_Store
.DS_Store
.DS_Store
