/roots-presenter/node_modules
MNA/datasets/developmental/.DS_Store
MNA/.DS_Store
MNA/datasets/.DS_Store
MNA/datasets/stage3/.DS_Store
MNA/SOURCES/.DS_Store
cgv-data/.DS_Store
ble/.DS_Store
cgv-data/bibles/.DS_Store
ble/.DS_Store
